{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  	<div class='row rooms'>
  		<ul class="nav nav-tabs">
			  <li class="active"><a href="#">Global <span class="badge">42</span></a></li>
			</ul>
  	</div>
  	<div class='row'>
  		<div class='chat' name='chat'>
  			<input type='textarea' id='test'>
  		</div>
  	</div>
	  <div class="input-group sendMessages">
      <input type="text" class="form-control" name='message' id='message'>
      <span class="input-group-btn">
        <button class="btn btn-success" id='send' type="button">Send <span class='glyphicon glyphicon-send'></span></button>
      </span>
  	</div>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.goinstant.net/v1/platform.min.js"></script>
  <script src="components/jquery/jquery.min.js"></script>
  <script src="components/lodash/dist/lodash.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="build/build.js"></script>
  <script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-list/latest/user-list.min.js"></script>
  <script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-colors/latest/user-colors.min.js"></script>
{% endblock %}