{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  <div>
    <form action="#">
      <input type="text" name="name" id="sync" />
    </form>
  </div>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.goinstant.net/v1/platform.min.js"></script>
  <script src="components/jquery/jquery.min.js"></script>
  <script src="components/lodash/dist/lodash.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="build/build.js"></script>
  <script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-list/latest/user-list.min.js"></script>
  <script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-colors/latest/user-colors.min.js"></script>
{% endblock %}