<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Column Stuff{% endblock %}</title>
    {% block head %}
      <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="stylesheets/main.css">
      <link rel="stylesheet" href="https://cdn.goinstant.net/widgets/user-list/latest/user-list.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
  </head>
  <body>
    {% include "./navigation.html" %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://cdn.goinstant.net/v1/platform.min.js"></script>
    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/lodash/dist/lodash.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="build/build.js"></script>
    <script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-list/latest/user-list.min.js"></script>
    <script type="text/javascript" src="https://cdn.goinstant.net/widgets/user-colors/latest/user-colors.min.js"></script>
  </body>
</html>