{% extends 'layout.html' %}

{% block title %}Chatter — Login{% endblock %}

{% block head %}
  {% parent %}
  <script>
  function onSubmit(){
		$.ajax({
						type: "POST",
						url: "/login",
						data: {"username" : document.getElementById('nick').value},
						dataType: "text"
					}).success(function(data){
						window.location = "/home";
    }).error(function(data) {
			window.location = "/home";
    });
  }

  </script>
{% endblock %}

{% block content %}
  <div>
  	<h1>Welcome to Chatter! <span class='glyphicon glyphicon-heart'></span></h1>
  	<p class='lead'>A simple real-time IM that allows you to communicate with the world.</p>
  	<p>Simply choose a nickname and get chatting, it's that simple!</p>
    <form>
      <fieldset>
			  <label>
			    Choose a nickname:
			  </label>
			  <div class="input-group">
		      <input type="text" class="form-control" name='nick' id='nick'>
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="button" onclick="onSubmit()">Chatter!</button>
		      </span>
		    </div>
			</fieldset>
    </form>
  </div>
{% endblock %}
